:root {
    --white-color: #ffffff;
}
[data-theme="client-theme"] {
    --primary-color: rgba(255, 146, 69, 1);
}
[data-theme="coach-theme"] {
    --primary-color: #495CB8;
}
[data-theme="admin-theme"] {
    --primary-color: #20AB8A;
}

$primary-color: var(--primary-color);
$white-color: var(--white-color);
$green-color: var(rgba(0, 95, 89, 1));

$position: relative absolute fixed;

