.v-application {
  .primary {
    background-color: $primary-color !important;
  }
  .primary--text  {
    color: $primary-color !important;
    caret-color: $primary-color !important;
  }
}
.primary-linear {
    background: linear-gradient(180deg, $primary-color -60.28%, $white-color 26.8%)
}