.primary-linear {
  background: linear-gradient(
    180deg,
    $primary-color -60.28%,
    $white-color 26.8%
  );
}
.v-list-item {
  &__active {
    color: #ffffff;

    .v-list-item__title,
    .v-icon {
      color: #ffffff !important;
    }
  }
}

.v-input--reverse .v-input__slot {
  flex-direction: row-reverse;
}
.book-appointment__container {
  .v-input--radio-group__input {
    flex-direction: row !important;
    flex-wrap: wrap;

    .v-radio.theme--light {
      flex-basis: 240px;
    }
  }
}