.background-orange {
      background-color: $orange-color !important;
      color: $white !important;
}
.orange-gradient {
      background-color: rgba($orange-color, $opacity) !important;
      color: $orange-color !important;
}