.card-container {
  .nav {
    height: 52px;
    margin-bottom: 40px;
    box-shadow: -1px 0 20px rgb(37 38 37 / 5%), 0 1px 5px rgb(37 38 37 / 10%);
  }
}

.header {
  width: 70%;
}

.card {
  width: 50%;
  margin: 10px auto;
  position: relative;

  &__item {
    width: 100%;
    margin-top: 1px;
    position: absolute !important;
    transition: all 0.34s !important;
  }

  &__item--option {
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
  }

  &__item--btn {
    background-color: #fcb25890 !important;
  }

  &__item--checkbox-label {
    cursor: pointer;
    user-select: none;
  }

  &__item--checkbox[type="checkbox"] {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 1.5px solid #fcb258;
    border-radius: 2px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__item--checkbox[type="checkbox"]::after {
    font-family: "Material Icons";
    content: "done";
    font-size: 18px;
    display: none;
  }

  &__item--checkbox[type="checkbox"]:checked {
    border: 1.5px solid transparent;
    background-color: #fcb25890;
  }

  &__item--checkbox[type="checkbox"]:checked::after {
    display: block;
  }
}
.progress-bar {
  width: 60px;
  height: 8px;
  margin-bottom: 20px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}
.text-muted {
  color: #7e7e7e;
}